---
interface Props {
  small?: boolean;
}

const { small = false } = Astro.props;
---

<span class:list={['foundation-mark', { 'foundation-mark--small': small }]} aria-hidden="true">
  <span></span>
  <span></span>
  <span></span>
</span>
